.cardsql {
    height: 100%;
    width: 100%
}

.tableColor {
    color: #575757
}

.headercolor {
    color: #1c1b1b !important;
    font-weight: 700;
}

.tableright {
    height: 100%;
    padding: 90px;
    text-align: center;

}


.has-text-centered {
    text-align: center !important;
}

.has-background-grey-dark {
    background-color: #4a4a4a !important;
}

.has-text-light {
    color: #f5f5f5 !important;
}

.has-text-weight-bold {
    font-weight: 700 !important;
}



.card-content {
    background-color: transparent;
    padding: 1rem;
}

.columns1 {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: -0.75rem;
}

.column1 {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75rem;
}


.dropdown1 {
    display: inline-flex;
    position: relative;
    vertical-align: top;
}

.has-text-weight-light {
    font-weight: 300!important;
}

.button.is-small:not(.is-rounded) {
    border-radius: 2px;
}


.button.is-light {
    background-color: #f5f5f5;
    border-color: transparent;
    color: #000000b3;
}
.button {
    background-color: #fff;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
}
 

.column1.is-6, .column1.is-6-tablet {
    flex: none;
    width: 50%;
}

.columns1.is-gapless {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    font-size:16px
}

.columns1.is-gapless:last-child {
    margin-bottom: 0;
}

.columns1:last-child {
    margin-bottom: -0.75rem;
}

.hero.is-fullheight-with-navbar {
    min-height: calc(100vh - 3.25rem);
}

.hero {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.has-background-white {
    background-color: #fff!important;
}

.columns1:last-child.is-gapless>.column1 {
    margin: 0;
    padding: 0!important;
}
.hero-head, .hero-foot {
    flex-grow: 0;
    flex-shrink: 0;
}

.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}

.is-fullheight-with-navbar-custom {
    min-height: calc(100vh - 3.25rem)!important;
    max-height: calc(100vh - 3.25rem)!important;
}

.has-overflow-vertical-auto {
    overflow-y: auto!important;
}

.hero-body {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 3rem 1.5rem;
}

.buttons {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.buttons.is-right {
    justify-content: flex-end;
}

.buttons:last-child {
    margin-bottom: -0.5rem;
}

.buttons.is-right:not(.has-addons) .button:not(.is-fullwidth) {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.button.is-small:not(.is-rounded) {
    border-radius: 2px;
}

.button.is-info.is-light {
    background-color: #eff5fb;
    color: #296fa8;
}

.buttons .button {
    margin-bottom: 0.5rem;
}

.button.is-small {
    font-size: .75rem;
}

.button.is-info {
    background-color: #3e8ed0;
    border-color: transparent;
    color: #fff;
}

.button.is-light {
    background-color: #f5f5f5;
    border-color: transparent;
    color: #000000b3;
}

.control {
    box-sizing: border-box;
    clear: both;
    font-size: 1rem;
    position: relative;
    text-align: inherit;
}

.has-text-right-tablet {
    text-align: right!important;
}

.has-text-centered {
    text-align: center!important;
}

.button.is-success.is-light {
    background-color: #effaf5;
    color: #257953;
}

.buttons .button {
    margin-bottom: 0.5rem;
}

.button.is-success {
    background-color: #48c78e;
    border-color: transparent;
    color: #fff;
}

.is-uppercase {
    text-transform: uppercase!important;
}

.mr-auto {
    margin-right: auto!important;
}
.mb-2 {
    margin-bottom: 0.5rem!important;
}

.ml-0 {
    margin-left: 0!important;
}

.buttons.is-right:not(.has-addons) .button:not(.is-fullwidth) {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.buttons .button:not(:last-child):not(.is-fullwidth) {
    margin-right: 0.5rem;
}

.button.is-info.is-light {
    background-color: #eff5fb;
    color: #296fa8;
}

.button.is-danger.is-light {
    background-color: #feecf0;
    color: #cc0f35;
}

.button.is-danger {
    background-color: #f14668;
    border-color: transparent;
    color: #fff;
}
.mb-0 {
    margin-bottom: 0!important;
}


.column1.is-10, .column1.is-10-tablet {
    flex: none;
    width: 83.33333337%;
}

.field.is-grouped.is-grouped-multiline>.control:last-child, .field.is-grouped.is-grouped-multiline>.control:not(:last-child) {
    margin-bottom: 0.75rem;
}

.field.is-grouped>.control {
    flex-shrink: 0;
}

.tags:last-child {
    margin-bottom: -0.5rem;
}

.tags {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.tags.has-addons .tag:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.tag:not(body).is-success.is-light {
    background-color: #effaf5;
    color: #257953;
}

.modal-close:after, .delete:after {
    height: 50%;
    width: 2px;
}

.modal-close:before, .delete:before, .modal-close:after, .delete:after {
    background-color: #fff;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center;
}

.modal-close:before, .delete:before {
    height: 2px;
    width: 50%;
}

.modal-close:before, .delete:before, .modal-close:after, .delete:after {
    background-color: #fff;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center;
}

.field.is-grouped>.control:not(:last-child) {
    margin-bottom: 0;
    margin-right: 0.75rem;
}

.tags.has-addons .tag {
    margin-right: 0;
}

/* .tags .tag:not(:last-child) {
    margin-right: 0.5rem;
} */

.tag:not(body).is-success {
    background-color: #48c78e;
    color: #fff;
}

.tag:not(body).is-light {
    background-color: #f5f5f5;
    color: #000000b3;
}

.tag:not(body) {
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 4px;
    color: #4a4a4a;
    display: inline-flex;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: 0.75em;
    padding-right: 0.75em;
    white-space: nowrap;
}

.tag {
    padding-top: 15px!important;
    padding-bottom: 15px!important;
}

.tag:not(body).is-info.is-light {
    background-color: #eff5fb;
    color: #296fa8;
}

.tag:not(body).is-info {
    background-color: #3e8ed0;
    color: #fff;
}

.tag:not(body).is-danger.is-light {
    background-color: #feecf0;
    color: #cc0f35;
}

.tag:not(body).is-danger {
    background-color: #f14668;
    color: #fff;
}

.is-clickable {
    cursor: pointer!important;
    pointer-events: all!important;
}

.tag:not(body) .delete {
    margin-left: 0.25rem;
    margin-right: -0.375rem;
}

.is-small.modal-close, .is-small.delete {
    height: 16px;
    max-height: 16px;
    max-width: 16px;
    min-height: 16px;
    min-width: 16px;
    width: 16px;
}

.is-marginless {
    margin: 0!important;
}

.delete {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #0a0a0a33;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    pointer-events: auto;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0;
    height: 20px;
    max-height: 20px;
    max-width: 20px;
    min-height: 20px;
    min-width: 20px;
    outline: none;
    position: relative;
    vertical-align: top;
    width: 20px;
}

.field1.has-addons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
}

.field1:not(:last-child) {
    margin-bottom: 0.75rem;
}

.button.is-primary {
    background-color: #00d09f;
    border-color: transparent;
    color: #fff;
}

@media screen and (min-width: 769px), print{
.column1.is-2, .column1.is-2-tablet {
    flex: none;
    width: 16.66666674%;
}
}

@media screen and (min-width: 769px), print{
.has-text-right-tablet {
    text-align: right!important;
}
}

@media screen and (min-width: 769px), print{
.columns1:not(.is-desktop) {
    display: flex;
}
}

.pt-3 {
    padding-top: 0.75rem!important;
}

.pb-0 {
    padding-bottom: 0!important;
}

.tags:not(:last-child) {
    margin-bottom: 1rem;
}

@media screen and (min-width: 1216px){
.container:not(.is-max-desktop) {
    max-width: 1152px;
}
}

@media screen and (min-width: 1024px){
.container {
    max-width: 960px;
}
}

.columns1.is-gapless:last-child {
    margin-bottom: 0;
}

.columns1.is-gapless>.column1 {
    margin: 0;
    padding: 0!important;
}

@media screen and (min-width: 769px), print{
.column1.is-3, .column1.is-3-tablet {
    flex: none;
    width: 25%;
}
}


.sql1{
    max-height: calc(100vh - 3.5rem) !important;
    min-height: calc(100vh - 3.5rem) !important;
   
}

[data-tooltip]:not(.is-loading), [data-tooltip]:not(.is-disabled), [data-tooltip]:not([disabled]) {
    cursor: pointer;
    overflow: visible;
    position: relative;
}

span[data-tooltip] {
    border-bottom: none;
}
span[data-tooltip] {
    border-bottom: 1px dashed hsl(0deg,0%,86%);
}

/* .fa-solid, .fas {
    font-weight: 900;
} */
/* 
.fa-sm {
    font-size: .875em;
    line-height: .07143em!important;
    vertical-align: 0.05357em;
} */

/* .fa-classic, .fa-light, .fa-regular, .fa-solid, .fa-thin, .fal, .far, .fas, .fat {
    font-family: "Font Awesome 6 Pro";
} */

/* .fa, .fa-brands, .fa-classic, .fa-duotone, .fa-light, .fa-regular, .fa-sharp, .fa-sharp-solid, .fa-solid, .fa-thin, .fab, .fad, .fal, .far, .fas, .fass, .fat {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display,inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
} */

.card1 {
    background-color: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 1.5rem 1.5rem -1.25rem #0a0a0a0d;
    color: #4a4a4a;
    max-width: 100%;
    position: relative;
}

.card-footer:first-child, .card-content:first-child, .card-header:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

@media screen and (min-width: 769px), print{
.column1.is-6, .column1.is-6-tablet {
    flex: none;
    width: 50%;
}
}

@media screen and (min-width: 769px), print{
.column1.is-10, .column1.is-10-tablet {
    flex: none;
    width: 83.33333337%;
}
}

.columns1.is-gapless>.column1 {
    margin: 0;
    padding: 0!important;
}

@media screen and (min-width: 769px), print{
.column1.is-narrow, .column1.is-narrow-tablet {
    flex: none;
    width: unset;
}
}

@media screen and (min-width: 769px), print{
.hero-body {
    padding: 3rem;
}
}

.has-background-dark {
    background-color: #2e2e2e!important;;
}

#code-display {
    font-family: JetBrains Mono,monospace;
    
}

.box {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em #0a0a0a1a, 0 0 0 1px #0a0a0a05;
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
}

.modal-card-body {
    -webkit-overflow-scrolling: touch;
    background-color: #fff;
    flex-grow: 1;
    flex-shrink: 1;
    /* overflow: auto; */
    padding: 20px;
}

.field.has-addons .control.is-expanded {
    flex-grow: 1;
    flex-shrink: 1;
}

.field.has-addons .control:not(:last-child) {
    margin-right: -1px;
}

.select.is-fullwidth, .select.is-fullwidth select {
    width: 100%;
}

.select:not(.is-multiple) {
    height: 2.5em;
}

.select {
    display: inline-block;
    max-width: 100%;
    position: relative;
    vertical-align: top;
}

.field.has-addons {
    display: flex;
    justify-content: flex-start;
}

.field:not(:last-child) {
    margin-bottom: 2.5rem;
}

.fontcolor{
   color: white;
   font-size: 25px;
}

.is-disabled {
    opacity: .5;
    pointer-events: none!important;
}


.token.selector, .token.important, .token.atrule, .token.keyword, .token.builtin {
    color: rgb(204, 153, 205);
    /* margin-left: 20px; */
}

/* .marginleft{
    margin-left: 40px;
} */

.token.punctuation {
    color: #ccc;
}

.token.operator, .token.entity, .token.url {
    color: #67cdcc;
}

.token.boolean, .token.number, .token.function {
    color: #f08d49;
}

.token.string, .token.char, .token.attr-value, .token.regex, .token.variable {
    color: #7ec699;
}

#code-display {
    font-family: JetBrains Mono,monospace;
}

/* .number {
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 9999px;
    display: inline-flex;
    font-size: 1.25rem;
    height: 2em;
    justify-content: center;
    margin-right: 1.5rem;
    min-width: 2.5em;
    padding: 0.25rem 0.5rem;
    text-align: center;
    vertical-align: top;
} */

:not(pre)>code[class*=language-], pre[class*=language-] {
    background: #2d2d2d;
}

pre[class*=language-] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
}

code[class*=language-], pre[class*=language-] {
    color: #ccc;
    background: none;
    font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre {
    -webkit-overflow-scrolling: touch;
    background-color: #f5f5f5;
    color: #4a4a4a;
    font-size: .875em;
    overflow-x: auto;
    padding: 1.25rem 1.5rem;
    white-space: pre;
    word-wrap: normal;
}

code, pre {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
    font-family: monospace;
}

span {
    font-style: inherit;
    font-weight: inherit;
}

#code-display * {
    text-shadow: none!important;
    font-family: inherit!important;
}

.fa-solid, .fas {
    font-weight: 900;
}

.fa-sm {
    font-size: .875em;
    line-height: .07143em;
    vertical-align: 0.05357em;
}

.fa-classic, .fa-light, .fa-regular, .fa-solid, .fa-thin, .fal, .far, .fas, .fat {
    font-family: "Font Awesome 6 Pro";
}

.fa, .fa-brands, .fa-classic, .fa-duotone, .fa-light, .fa-regular, .fa-sharp, .fa-sharp-solid, .fa-solid, .fa-thin, .fab, .fad, .fal, .far, .fas, .fass, .fat {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display,inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
}

.closetable
{
    margin-top: 5px!important;
    margin-left: 5px!important;
}
.buttons.is-right {
    justify-content: flex-end;
}

.buttons:last-child {
    margin-bottom: -0.5rem;
}

.react-datepicker__input-container {
     margin-top: 0px !important; 
}

.overflow-vertical{
overflow:auto;
height:500px

}


.tableHeader{
    font-size:28px;
    border-left: 1px solid var(--border-primary);
    background-color:var(--border-primary)
}

/* .filterheight{
    margin-top: 25px;
} */

.nomaxwidth{
max-width: 100%!important;
}
.sql-query-builder-popup .dropdown-menu {
    width:16rem;
}
.sql-query-builder-popup .dropdown-menu .control .checkbox span{
    word-break: break-word;
    display: block;
    white-space: initial;
}

.sql-query-block{
    background: #f8f9fa;
    width: calc(100% - 25%);
}
.sql-query-block .ps__thumb-y {
    opacity: 1!important;
}
.sql-query-block .closetable {
    right: 17px;
    position: absolute;
    top: 12px;
}
.sql-query-card{
    background:#f8f9fa;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.ps .ps__rail-x:hover{
    background: none;
}
.field.has-addons .control .form-group.floating-label{
    margin-bottom: 0;
}